* {
    font-size: 12px;
    background-color: transparent;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    scroll-behavior: smooth;
}

.inicio {
    display: flex;
    flex-direction: column;
    background-image: url(../imagens/backInicio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.inicio .cabecalho {
    display: flex;
    flex-direction: row; /* Mantém o layout horizontal para os itens do cabeçalho */
    width: 100%;
    height: 70px;
    position: fixed;
}

.inicio .cabecalho .logo {
    display: flex;
    align-items: center;
    width: 100px;
    height: 100%;
    margin-left: 100px;
    margin-top: 10px;
}

.inicio .cabecalho nav {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: end;
}

.inicio .listaIni .menu {  
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 100px;
}

.inicio .listaIni .menu li {
    list-style: none;
    margin-right: 20px;
}

.inicio .listaIni .menu li a {
    font-size: 20px;
    text-decoration: none;
    color: #dcb208;
    text-shadow: black;
}

.inicio .listaIni .menu li :hover {
    color: black;
    background-color: #dcb208;
    transition: 0.5s;
    padding: 5px;
    border-radius: 10px;
}

.inicio .titles {
    display: flex;
    width: 900px;
    flex-direction: column;
    margin-top: 150px;
    margin-left: 100px;
    align-items:first baseline;
}

.inicio .titles .titulo {
    font-size: 50px;
    color: #dcb208;
}

.inicio .titles .subTitle {
    font-size: 22px;
    color: #dcb208;
    padding-left: 130px;
}

.inicio .titles .descric {
    font-size: 16px;
    padding: 40px 0px 40px 0px;
    line-height: 20px;
}

.shop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: black;
}

.shop .boxes {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.shop .boxes .box {
    margin: 0px 80px;
}

.shop .boxes .box .bxTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    color: #dcb208;
}

.shop .boxes .box .bxDesc {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

.cortes {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 450px;
    background-color: black;
    color: #dcb208;
}

.cortes h1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: #dcb208;
    font-size: 32px;
}

.cortes .imgCorts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.cortes .imgCorts .corte {
    margin: 30px;
}

.cortes .imgCorts .corte img {
    width: 200px;
    height: 250px;
    border: 2px solid white;
    border-radius: 10px;
}

.prec {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 100%;
}

.prec .titPrec {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: #dcb208;
    font-size: 30px;
}

.prec .dif {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.prec .dif .prec1 {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 300px;
    background-color: white;
    margin: 30px;
}

.prec .dif .prec1 h2 {
    display: flex;
    justify-content: center;
    font-size: 37px;
    margin-top: 30px;
    color: #dcb208;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #dcb208;
}

.prec .dif .prec1 .desc {
    display: flex;
    justify-content: center;
    color: black;
}

.prec .dif .prec1 .valor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.prec .dif .prec1 .valor .preci {
    display: flex;
    justify-content: first baseline;
    font-size: 25px;
    color: black;
}

.prec .dif .prec1 .val {
    display: flex;
    justify-content: center;
    font-size: 37px;
    color: black;
}

.local {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.local .titLocal {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 32px;
    color: #dcb208;
}

.local h3 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 16px;
}

.local .map {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.local .map iframe {
    border-radius: 10px;
}

.marcHora {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.marcHora .mcHor {
    display: flex;
    justify-content: center;
    color: #dcb208;
    font-size: 32px;
    margin-top: 50px;
}

.marcHora .forms {
    display: flex;
    justify-content: center;
}

.marcHora .forms form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    border: 2px solid #dcb208;
    border-radius: 10px;
}

.marcHora .forms form .envia {
    display: flex;
    justify-content: center;
}

.marcHora .forms form .envia input {
    font-size: 20px;
    background-color: #dcb208;
    border: 1px solid white;
    margin-bottom: 10px;
    padding: 5px;
    color: black;
    border-radius: 10px;
}

.marcHora .forms form .envia input:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.429);
    border: 1px solid #dcb208;
    transition: 0.5s;
    color: white;
}

.marcHora form .nomes {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-right: 10px;
}

.marcHora form .nomes label {
    font-size: 16px;
    color: #dcb208;
    margin: 0px 10px;
}

.marcHora form .nomes input {
    background-color: rgba(32, 32, 32, 0.475);
    border: 0.2px solid #dcb208;
    height: 18px;
    width: 120px;
}

.marcHora form .padrao {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.marcHora form .padrao label {
    font-size: 16px;
    color: #dcb208;
    margin: 0px 10px;
}

.marcHora form .padrao #email {
    background-color: rgba(32, 32, 32, 0.475);
    border: 0.2px solid #dcb208;
    height: 18px;
    width: 348px;
}

.marcHora form .tellHor {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.marcHora form .tellHor label {
    font-size: 16px;
    color: #dcb208;
    margin: 0px 10px;
}

.marcHora form .tellHor #horario {
    background-color: rgba(32, 32, 32, 0.475);
    border: 0.2px solid #dcb208;
    height: 18px;
    width: 127px;
}

.marcHora form .tellHor #telefone {
    background-color: rgba(32, 32, 32, 0.475);
    border: 0.2px solid #dcb208;
    height: 18px;
    width: 87px;
}

.marcHora form .servico .serv{
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
    color: #dcb208;
}

.marcHora form .servico .disp {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.marcHora form .servico .disp .opcCheck {
    margin-left: 10px;
}

.marcHora form .servico .disp .opcCheck label {
    font-size: 14px;
}